body {
  font-family: 'Raleway', sans-serif;
    margin-top: 50px;
}

.parallax {
  display: flex;
  background-image:url(../img/para.jpeg);
  height: 75vh;
  width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  /*align-content: center;*/
}

.parallaxtext{
  /*display: flex;*/
  /*color: white;*/
  font-size: 32px;
  /*text-shadow: 2px 2px 4px #000000;*/
  text-align: center;
  /*position: stat*/
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
}

.contactnow {
  /*font-weight: bolder;*/
  color: rgb(27, 151, 255);
  font-weight: 800;
  text-decoration: underline;
};

.threerow{
  /*display: flex;*/
  text-align: center;
  align-items: center;
  justify-content: center;
}
.col-sm-4{
  text-align: center;
}
.titles{
  /*justify-content: center;*/
  /*align-items: center;*/
  text-align: center;
  /*align-self: center;*/
}
.texts{
  font-size: 1.3em;
}
.helpdesk{
  float: left;
  max-width: 220px;
}

/* contactpage */



.parallax2 {
  display: flex;
  background-image:url(../img/para.jpeg);
  height: 90vh;
  width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  /*align-content: center;*/
}

.parallaxtext{
  /*display: flex;*/
  /*color: white;*/
  font-size: 32px;
  /*text-shadow: 2px 2px 4px #000000;*/
  text-align: center;
  /*position: stat*/
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
}

.contactnow {
  /*font-weight: bolder;*/
  color: rgb(27, 151, 255);
  font-weight: 800;
  text-decoration: underline;
}

.floatcontact{
  display: flex;
  background-size: contain;

}
.headline {

  background-size: contain;
}
.logo1 {
  float: left;
  max-height: 100%;
  width: auto;

}


.logo2{
float: left;
max-width: auto;
}
